{% include _utils/month date=page.date %}
<section id="blog_post" class="blog-post-section doc-wrapper">
    <div class="container">
        <div id="doc-header" class="doc-header text-center">
            <h1 class="doc-title" itemprop="name headline">
                <i class="icon fas fa-paper-plane"></i>
                {{ page.title | escape }}
            </h1>
            <div class="meta">
                Publicat de:
                {% if page.author.first %}
                    {% for author in page.author %}
                        <i class="fas fa-user"></i>
                        <span itemprop="author" itemscope itemtype="http://schema.org/Person">
                            <span itemprop="name">{{ author }}</span>
                        </span>
                    {% endfor %}
                {% else %}
                    <span itemprop="author" itemscope itemtype="http://schema.org/Person">
                        <span itemprop="name">{{ page.author }}</span>
                    </span>
                {% endif %}
                pe <i class="fas fa-clock"></i> 
                <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
                    {{ page.date | date: "%-d" }} {{ month }} {{ page.date | date: "%Y" }}
                </time>
            </div>
        </div>
        <div class="doc-body">
            <div class="doc-content">
                <div class="content-inner">
                    <section id="dashboards" class="doc-section">
                        <div class="section-block">
                             {{ content }}    
                        </div>
                    </section>
                </div>
            </div>
            {% include _partials/toc.html content=content maximum_level=4%}
        </div>
    </div>
</section>
