{% include _utils/common %}
<section id="contact" class="contact doc-section">
    {% for section in contact %}
        <h2 class="section-title">{{ section.title }}</h2>
        <div class="section-block">
            <div class="jumbotron text-center">
                <p>{{ section.description }}</p>
                {% for member in section.members %}
                    <div class="bubble row vertical-align">                    
                        <div class="avatar text-center col-md-2 col-sm-4 col-xs-4">
                            <a class="center-block" href="{{ member.url | default: '#' }}" target="_blank">
                                <img class="img-responsive img-circle" src="https://www.gravatar.com/avatar/{{ member.email | remove: ' ' | strip_newlines | downcase | md5 }}" alt="{{ member.name }}"/>
                            </a>
                        </div>
                        <div class="text-center col-md-10 col-sm-8 col-xs-8">
                            <h3>{{ member.name }}</h3>
                            <p><i class="fas fa-envelope fa-fw"></i> {{ member.email }}</p>
                            {% include _partials/social-buttons.html social=member.social %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endfor %}
</section>