<section class="container content-section text-center">
  <div class="row">
    <div class="col-md-10 col-md-offset-1 col-xs-10 col-xs-offset-1">
      <h1><strong>{{ page.title }}</strong></h1>
        <h2>Pagina solicitată nu este disponibilă.</h2>
        <h5>Aruncați o privire peste <a href="http://waitbutwhy.com/2013/11/how-to-beat-procrastination.html" target="_blank">asta</a> dacă doriți să nu mai căutați pagini ce nu există!</h5>
        <img class="img-responsive center-block fourofour" src="{{site.baseurl}}/assets/img/labtocat.png" alt="">
      {% include _partials/social-buttons.html %}
    </div>
  </div>
</section>
