{% include _utils/month date=post.date %}
<article>
    <header>
        <h3><a href="{{ post.url | prepend: site.baseurl }} ">{{ post.title }}</a></h3>
        <i class="fa fa-user"></i> Autor:
        <span itemprop="author" itemscope itemtype="http://schema.org/Person">
            <span itemprop="name">{{ post.author }}</span>
        </span> | 
        <i class="fa fa-clock-o"></i> Data: 
        <time datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">
            {{ post.date | date: "%-d" }} {{ month }} {{ post.date | date: "%Y" }}
        </time> | 
        <i class="fa fa-tags"></i> Categorii:
        {% capture container %}resurse/{% endcapture %}
        {% assign previous = "" %}
        {% for category in post.categories %}
            {% if forloop.first == false %}
                {% capture container %}{{ container }}{{ previous }}/{% endcapture %}
            {% endif %}
            {% assign previous = category %}
            <a href="{{ site.baseurl }}/{{container}}{{ category }}">
                <span class="label label-info">{{ category }}</span>
            </a>
        {% endfor %}
    </header>
    <div class="content">
        {% if post.excerpt %}{{ post.excerpt }}{% endif %}
        <p>
            <a class="btn btn-primary btn-cta" href="{{ post.url | prepend: site.baseurl }}"><i class="fa fa-book"></i>Citește mai departe...</a>
        </p>
    </div>
</article>
