{% include _utils/month date=post.date %}
<article>
    <header>
        <h3><a href="{{ post.url | prepend: site.baseurl }} ">{{ post.title }}</a></h3>
        Publicat de: 
        {% if post.author.first %}
            {% for author in post.author %}
                <i class="fas fa-user"></i>
                <span itemprop="author" itemscope itemtype="http://schema.org/Person">
                    <span itemprop="name">{{ author }}</span>
                </span>
            {% endfor %}
        {% else %}
            <span itemprop="author" itemscope itemtype="http://schema.org/Person">
                <span itemprop="name">{{ post.author }}</span>
            </span>
        {% endif %}
        | <i class="fas fa-clock"></i> Data: 
        <time datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">
            {{ post.date | date: "%-d" }} {{ month }} {{ post.date | date: "%Y" }}
        </time> | 
        <i class="fas fa-tags"></i> Categorii:
        {% capture container %}resurse/{% endcapture %}
        {% assign previous = "" %}
        {% for category in post.categories %}
            {% if forloop.first == false %}
                {% capture container %}{{ container }}{{ previous }}/{% endcapture %}
            {% endif %}
            {% assign previous = category %}
            <a href="{{ site.baseurl }}/{{container}}{{ category }}">
                <span class="label label-info">{{ category }}</span>
            </a>
        {% endfor %}
    </header>
    <div class="content">
        {% if post.excerpt %}{{ post.excerpt }}{% endif %}
        <p>
            <a class="btn btn-primary btn-cta" href="{{ post.url | prepend: site.baseurl }}"><i class="fas fa-book"></i>Citește mai departe...</a>
        </p>
    </div>
</article>
