.btn, a.btn {
	@include transition (all 0.4s ease-in-out);
	font-weight: 600;
	font-size: 14px;
	line-height: 1.5;
	.fa {
		margin-right: 5px;
	}
}

.btn-primary, a.btn-primary {
	background: $color-primary;
	border: 1px solid $color-primary;
	color: #fff !important;
	&:hover, &:focus, &:active, &.active, &.hover {
		background: darken($color-primary, 5%);
		color: #fff !important;
		border: 1px solid darken($color-primary, 5%);
	}
}

.btn-green, a.btn-green {
    background: $color-green;
	border: 1px solid $color-green;
	color: #fff !important;
	&:hover, &:focus, &:active, &.active, &.hover {
		background: darken($color-green, 5%);
		color: #fff !important;
		border: 1px solid darken($color-green, 5%);
	}
	.body-green & {
    	color: #fff !important;
    	&:hover, &:focus, &:active, &.active, &.hover {
        	color: #fff !important;
    	}
	}
}

.btn-blue, a.btn-blue {
    background: $color-blue;
	border: 1px solid $color-blue;
	color: #fff !important;
	&:hover, &:focus, &:active, &.active, &.hover {
		background: darken($color-blue, 5%);
		color: #fff !important;
		border: 1px solid darken($color-blue, 5%);
	}
}

.btn-orange, a.btn-orange {
    background: $color-orange;
	border: 1px solid $color-orange;
	color: #fff !important;
	&:hover, &:focus, &:active, &.active, &.hover {
		background: darken($color-orange, 5%);
		color: #fff !important;
		border: 1px solid darken($color-orange, 5%);
	}
}

.btn-red, a.btn-red {
    background: $color-red;
	border: 1px solid $color-red;
	color: #fff !important;
	&:hover, &:focus, &:active, &.active, &.hover {
		background: darken($color-red, 5%);
		color: #fff !important;
		border: 1px solid darken($color-red, 5%);
	}
}

.btn-pink, a.btn-pink {
    background: $color-pink;
	border: 1px solid $color-pink;
	color: #fff !important;
	&:hover, &:focus, &:active, &.active, &.hover {
		background: darken($color-pink, 5%);
		color: #fff !important;
		border: 1px solid darken($color-pink, 5%);
	}

}

.btn-purple, a.btn-purple {
    background: $color-purple;
	border: 1px solid $color-purple;
	color: #fff !important;
	&:hover, &:focus, &:active, &.active, &.hover {
		background: darken($color-purple, 5%);
		color: #fff !important;
		border: 1px solid darken($color-purple, 5%);
	}
}

.btn-cta {
    padding: 7px 15px;
}
