---
layout: default
---
<section class="doc-wrapper">
    <div class="container">
        <div id="doc-header" class="doc-header text-center">
            <h1 class="doc-title">
                {% if page.icon %}
                    <span aria-hidden="true" class="icon fa {{ page.icon }}"></span> 
                {% endif %}
                {{ page.title | escape }}
            </h1>
        </div>
        <div class="doc-body">
            {{ content }}
        </div>              
    </div>
</section>
